.page-container {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .page-container {
        padding: 1rem;
    }
}

.dim-graph {
    width: "300";
    height: "300"
}