$gray-levels: (
    0: 1.00,
    10: .95,
    20: .90,
    30: .85,
    40: .80,
    50: .77,
    60: .65,
    70: .55,
    80: .45,
    90: .35,
    100:.00,
);

$primary-levels: (
    10: (l: 0.95, c: 0.039),
    20: (l: 0.90, c: 0.065),
    30: (l: 0.85, c: 0.092),
    40: (l: 0.80, c: 0.117),
    50: (l: 0.75, c: 0.162),
    60: (l: 0.70, c: 0.155),
    70: (l: 0.65, c: 0.147),
    80: (l: 0.60, c: 0.139),
    90: (l: 0.55, c: 0.132),
);

$accent-levels: (
    10: (l: 0.95, c: 0.04),
    20: (l: 0.90, c: 0.08),
    30: (l: 0.85, c: 0.12),
    40: (l: 0.80, c: 0.25),
    50: (l: 0.75, c: 0.24),
    60: (l: 0.70, c: 0.23),
    70: (l: 0.65, c: 0.22),
    80: (l: 0.60, c: 0.21),
    90: (l: 0.55, c: 0.20),
);