<div class="login-container flex items-center justify-center min-h-screen bg-surface">
    <mat-card class="w-full max-w-md p-6 shadow-lg rounded-lg">
        <mat-card-header class="mb-6">
            <mat-card-title-group>
                <mat-card-title>Login</mat-card-title>
                <mat-card-subtitle>Accedi al tuo account</mat-card-subtitle>
                <img mat-card-sm-image src="assets/login.png" />
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email" placeholder="Inserisci la tua email" required>
                    @if (loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched) {
                    <mat-error>L'email è obbligatoria</mat-error>
                    }
                    @if (loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched) {
                    <mat-error>Inserisci un'email valida</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="hidePassword() ? 'password' : 'text'"
                        placeholder="Inserisci la tua password" required>
                    <button mat-icon-button matSuffix (click)="hidePassword.set(!hidePassword())" type="button">
                        <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched) {
                    <mat-error>La password è obbligatoria</mat-error>
                    }
                </mat-form-field>

                <button mat-raised-button color="primary" class="w-full h-12 text-lg"
                    [disabled]="loginForm.invalid || loading()" type="submit">
                    @if (loading()) {
                    <ng-container>
                        <mat-icon class="animate-spin">hourglass_empty</mat-icon>
                        <span>Accesso in corso...</span>
                    </ng-container>
                    } @else {
                    <span>Accedi</span>
                    }
                </button>
            </form>
            <!-- <div class="text-center mt-6">
                <p class="text-on-surface-variant">Non hai un account?
                    <a routerLink="/register" class="text-primary hover:underline">Registrati qui</a>
                </p>
            </div> -->
        </mat-card-content>
    </mat-card>
</div>